<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clover.mapper.AccountMapper">
    <update id="incrMoney">
        update userinfo.user set user.money = user.money + #{money} where user.username = #{username}
    </update>
    <update id="decrMoney">
        update userinfo.user set user.money = user.money - #{money} where user.username = #{username}
    </update>
</mapper>