<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <import resource="classpath:ThirdPartyBean.xml"/>
    <mvc:annotation-driven/>

    <bean id="userDao1" class="com.clover.factory.BeanFactoryStatic" factory-method="userDao"/>
    <bean id="beanFactory" class="com.clover.factory.BeanFactory"/>
    <bean id="userDao2" factory-bean="beanFactory" factory-method="userDao"/>
    <bean id="userDao3" class="com.clover.factory.BeanFactoryFB"/>

    <bean id="userService" class="com.clover.service.imp.UserServiceImp" init-method="init" destroy-method="destroy">
        <constructor-arg name="name" value="tom"/>
        <property name="stringSet">
            <set>
                <value>aaa</value>
                <value>bbb</value>
            </set>
        </property>
        <property name="userDaoSet">
            <set>
                <!--                <bean class="com.clover.dao.imp.UserDaoImp"></bean>-->
                <!--                <bean class="com.clover.dao.imp.UserDaoImp"></bean>-->
                <!--                <bean class="com.clover.dao.imp.UserDaoImp"></bean>-->
                <ref bean="userDao"/>
                <ref bean="userDao1"/>
                <ref bean="userDao2"/>
                <ref bean="userDao3"/>
            </set>
        </property>
        <property name="userDaoList">
            <list>
                <ref bean="userDao"/>
                <ref bean="userDao1"/>
                <ref bean="userDao2"/>
                <ref bean="userDao3"/>
            </list>
        </property>
        <property name="strings">
            <list>
                <value>aaa</value>
                <value>bbb</value>
            </list>
        </property>
        <property name="map">
            <map>
                <entry key="aaa" value-ref="userDao"/>
                <entry key="bbb" value-ref="userDao1"/>
            </map>
        </property>
        <property name="properties">
            <props>
                <prop key="p1">aaa</prop>
                <prop key="p2">bbb</prop>
            </props>
        </property>
    </bean>
    <bean id="userDao" class="com.clover.dao.imp.UserDaoImp"/>
    <bean id="workDaoImp" class="com.clover.dao.imp.OperatorDaoImp"/>
    <beans profile="dev">
        <bean class="com.clover.dao.imp.UserDaoImp"/>
    </beans>
</beans>